<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-label>Claims</ion-label>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-list>
    <ion-card *ngFor="let claim of claimsList">
      <ion-card-header>
        <ion-card-title>Claim ID: {{ claim.id }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Date: {{ claim.date | date }}</p>
        <div class="button-container">
          <ion-button [id]="'click-trigger-' + claim.id">See More</ion-button>
          <ion-popover [trigger]="'click-trigger-' + claim.id" triggerAction="click" 
          [cssClass]="'claim-popover'" arrow="true">
<ng-template>
 <ion-content class="popover-content">
   <div class="popover-header">
     <h2>Claim Details</h2>
     <ion-button fill="clear" class="close-btn" (click)="dismissPopover()">
       <ion-icon name="close"></ion-icon>
     </ion-button>
   </div>
   
   <ion-grid class="details-grid">
     <ion-row>
       <ion-col size="4" class="detail-label">Claim ID</ion-col>
       <ion-col size="8" class="detail-value">{{ claim.id }}</ion-col>
     </ion-row>
     
     <ion-row>
       <ion-col size="4" class="detail-label">Type</ion-col>
       <ion-col size="8" class="detail-value">{{ claim.type }}</ion-col>
     </ion-row>

     <ion-row>
       <ion-col size="4" class="detail-label">Policy Number</ion-col>
       <ion-col size="8" class="detail-value">{{ claim.policyNumber }}</ion-col>
     </ion-row>

     <ion-row>
       <ion-col size="4" class="detail-label">Date</ion-col>
       <ion-col size="8" class="detail-value">{{ claim.date | date: 'mediumDate' }}</ion-col>
     </ion-row>

     <ion-row>
       <ion-col size="4" class="detail-label">Product</ion-col>
       <ion-col size="8" class="detail-value">{{ claim.product }}</ion-col>
     </ion-row>
   </ion-grid>
 </ion-content>
</ng-template>
</ion-popover>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-footer>
  <ion-fab vertical="bottom" horizontal="end" class="ion-margin">
    <ion-fab-button [routerLink]="['/app/claims/claims-form']" >
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
</ion-content>