<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <form class="ion-padding container">
      <div class="ion-text-center ion-margin-bottom">
        <p>Sign in to access your account</p>
      </div>
  
      <ion-item class="ion-margin-vertical">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-input 
          type="username" 
          placeholder="Username"
          required
          aria-label="Username"
          ></ion-input>
      </ion-item>
  
      <ion-item class="ion-margin-vertical">
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input 
          type="password" 
          placeholder="Password"
          required
          aria-label="Password"
          ></ion-input>
      </ion-item>
  
      <!-- Forgot Password -->
      <div class="ion-text-end ion-margin-bottom">
        <a [routerLink]="['/reset-password']" class="ion-text-sm">Forgot password?</a>
      </div>
  
      <!-- Login Button -->
      <ion-button 
        expand="block" 
        shape="round" 
        type="submit"
        class="ion-margin-vertical" [routerLink]="['/app']">
        Log In
      </ion-button>
  
      <!-- Signup Link -->
      <div class="ion-text-center ion-margin-top">
        <p class="ion-text-sm">
          New member? 
          <a [routerLink]="['/signup']" class="ion-text-bold">Sign up now</a>
        </p>
      </div>
    </form>
  </ion-content>