
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/app/home']">
      <ion-icon name="apps"></ion-icon>
      <ion-label><ion-text>Dashboard</ion-text></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="policies" [routerLink]="['/app/policies']">
      <ion-icon name="document-text"></ion-icon>
      <ion-label><ion-text>Policies</ion-text></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="claims" [routerLink]="['/app/claims']">
      <ion-icon name="cash"></ion-icon>
      <ion-label><ion-text>Claims</ion-text></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="insurance" [routerLink]="['/app/insurance']">
      <ion-icon name="car"></ion-icon>
      <ion-label><ion-text>insurance</ion-text></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="request" [routerLink]="['/app/request']">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label><ion-text>Requests</ion-text></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" [routerLink]="['/app/settings']">
      <ion-icon name="settings"></ion-icon>
      <ion-label><ion-text>More</ion-text></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
